<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICryptxService" />
                <binding name="WSHttpBinding_ICryptxService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61559/CryptxService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICryptxService"
                contract="CryptxService.ICryptxService" name="WSHttpBinding_ICryptxService">
                <identity>
                    <userPrincipalName value="rinat-g@office.taxnet.ru" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:61159/CryptxService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICryptxService1"
                contract="CryptxService.ICryptxService" name="WSHttpBinding_ICryptxService1" />
        </client>
    </system.serviceModel>
</configuration>