.add-contact {
    float: right;
    min-width: 300px;
    position: absolute;
    right: 0;
    top: 0;
}

.filter {
    height: 70px;
    padding: 0 25px;
}

.filter .check-all {
    margin-right: 0 !important;
    padding-top: 15px;
    width: 30px;
}

.filter .form {
    display: inline-block;
    vertical-align: top;
}

.filter .form .col {
    margin-right: 15px;
    width: 210px;
}

.filter .form .col label {
    color: #161616;
    display: block;
    font-size: 11px;
    height: 18px;
}

.filter .form .col input.search {
    background: url(../img/search.png) right center no-repeat;
    padding-right: 30px;
}

.filter .form .col:last-child { margin-right: 0; }

.certificats-list .certificat:first-child { padding-top: 10px; }

.certificats-list .certificat:first-child .actions { top: 10px; }

.certificats-list .certificat:hover { background: #edf4fa; }

.certificats-list .certificat.selected { background: #fffdde !important; }

.certificats-list .certificat {
    padding: 20px 25px 0;
    position: relative;
}

.certificats-list .certificat hr {
    border: 1px solid #d9d9d9;
    border-top: 0;
    margin: 25px 0 0;
}

.certificats-list .certificat .checkbox {
    padding-top: 28px;
    width: 30px;
}

.certificats-list .certificat .col1 {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    width: 220px;
}

.certificats-list .certificat .col1 .title {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0 18px 0;
}

.certificats-list .certificat .col1 .cert span.active { color: #161616; }

.certificats-list .certificat .col1 .cert span.expire { color: #f4484a; }

.certificats-list .certificat .col2 {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
}

.certificats-list .certificat .col2 .new-title {
    padding: 5px 0 10px 0;
    width: 350px;
}

.certificats-list .certificat .col2 .new-title .box {
    margin-right: 10px;
    width: 250px;
}

.certificats-list .certificat .col2 .new-title .box input[type=text]:disabled { background: #f9f9f9; }

.certificats-list .certificat .col2 .new-title a.action { line-height: 25px; }

.cert-control { padding-top: 20px; }

.cert-control .backlink { float: left; }

.cert-control .backlink a {
    background: #f3f3f3;
    color: #373737;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
}

.cert-control .controls .sbmt a.close {
    color: #131313;
    padding-right: 15px;
}

.more-cert {
    height: 75px;
    padding-top: 28px;
    text-align: center;
}