<div selectfiles>
    <h2>Мастер работы с документами</h2>

    <div class="row" style="margin-top: 100px;">
        <div class="col-md-6" style="text-align: center">
            <button id="newFile" type="button" class="btn btn-primary btn-lg">Загрузить новые файлы</button>
        </div>
        <div class="col-md-6">
            <button id="openFileDialog" type="button" class="btn btn-primary btn-lg">Выбрать файлы из ранее загруженных</button>
        </div>
    </div>

    <div id="fileDialog">
        <div class="window">
            <header>
                <h3>Выберите файл для добавления</h3>
                <span class="closeFileDialog">Закрыть</span>
            </header>
            <div class="body">
                <iframe marginheight="0" marginwidth="0" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>