
html, body {
    font-family: Verdana;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%
}

body { overflow-y: scroll }

ul, li, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0
}

ul, li { list-style: none }

.unselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.pull-left { float: left }

.pull-right { float: right }

.content {
    margin: 0 auto;
    position: relative
}

.topheader {
    height: 120px;
    padding-top: 20px;
    width: 100%
}

.topheader .logo {
    background: url(../image/logo.png) no-repeat left bottom;
    float: left;
    font-size: 16px;
    height: 45px;
    margin-top: 6px;
    width: 174px
}

.topheader .user {
    background: url(../image/gear.png) no-repeat left bottom;
    color: #3b3b3b;
    float: left;
    font-family: Verdana;
    font-size: 13px;
    margin-left: 60px;
    padding: 46px 0 0 15px;
    text-decoration: underline
}

.topheader .prev {
    background: url(../image/prev.png) no-repeat left 52px;
    color: #343434;
    float: right;
    font-family: Verdana;
    font-size: 12px;
    padding: 46px 0 0 15px
}

.topheader .templates {
    color: #323232;
    float: right;
    font-family: Verdana;
    font-size: 12px;
    margin-left: 44px;
    padding: 46px 0 0
}

.topheader .templates a {
    border-bottom: 1px dotted;
    color: #3498db;
    text-decoration: none
}

.main-title {
    font-family: Verdana;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px
}

.row { width: 100% }

.row .c-500 {
    float: left;
    width: 500px
}

.row .c-700 {
    float: left;
    width: 700px
}

.row .c-300 {
    float: left;
    width: 300px
}

.btn-group { display: table }

.btn-group.glue div:first-child { border-radius: 3px 0 0 3px }

.btn-group.glue div:last-child { border-radius: 0 3px 3px 0 }

.btn-group.glue div {
    float: left;
    margin: 0
}

.btn-group div {
    float: left;
    margin-right: 5px
}

.btn-group div:last-child { margin: 0 }

.btn {
    border-radius: 3px;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    min-height: 18px;
    min-width: 100px;
    padding: 7px 15px;
    text-align: center;
    text-decoration: underline
}

div[disabled].btn, button[disabled].btn, div[disabled].btn:hover, button[disabled].btn:hover {
    background: #d3d3d3;
    cursor: default
}

.btn-big {
    border-radius: 2px;
    font-family: Verdana;
    font-weight: 700;
    width: 167px
}

.btn.btn-green {
    background: #1ac316;
    color: #fff;
    text-decoration: none
}

.modal .btn-green { font-weight: 700 }

.btn.btn-green:hover { background: #21D81D }

.btn.btn-green:active { background: #18B114 }

.btn.btn-blue {
    background: #3498db;
    color: #fff;
    text-decoration: none
}

.btn.btn-blue:active { background: #2A87C5 }

.btn.btn-blue:hover { background: #3BA3E9 }

#modal {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000
}

#modal .window {
    background: #fff;
    border: 3px solid #595959;
    border-radius: 5px;
    left: 50%;
    margin-left: -467.5px;
    min-height: 100px;
    position: absolute;
    top: 100px;
    width: 935px;
    z-index: 1001
}

#modal .window.received-popup { padding: 7px 23px }

#modal .window.elfinder-dialog { padding: 7px 23px }

body > .send-popup, body > .emails-popup { padding: 7px 23px }

body > .send-popup-master, body > .emails-popup-master { padding: 0 !important }

.send-popup .btn-big, .emails-popup .btn-big {
    margin-right: 0;
    width: 130px
}

#modal .window > .body {
    background: #fff;
    height: calc(100% - 6px - 7px - 7px);
    padding: 7px 10px 7px 22px;
    position: absolute;
    width: calc(100% - 6px - 22px - 22px)
}

#modal .window > .header {
    border-bottom: 1px solid #e5e5e5;
    height: 41px;
    margin-bottom: 10px
}

#modal .window > .buttons { margin-bottom: 15px }

#modal .window > .header h2 {
    color: #111;
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 0
}

#modal .window > .header .close {
    background: url(../image/close.png) no-repeat;
    cursor: pointer;
    float: right;
    height: 16px;
    position: absolute;
    right: 7px;
    top: 8px;
    width: 16px
}

#modal .window > .content {
    margin: 0;
    position: relative;
    width: 100%
}

#modal > .window.alert {
    margin-left: -255px;
    width: 510px
}

#modal #message-panel {
    min-height: 90px;
    padding: 0
}

#modal #message-panel .content-group {
    margin: 0 0 10px;
    min-height: 38px;
    position: relative
}

#modal #message-panel .icon {
    float: left;
    height: 50px;
    width: 60px
}

#modal #message-panel .icon.warning { background: url(/Assets/i/old/warning.png) no-repeat center center }

#modal #message-panel .text {
    float: left;
    font-size: 13px;
    margin-bottom: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding-left: 15px;
    width: 400px;
    word-wrap: break-word
}

#modal #message-panel .btn-group {
    float: right;
    margin: 0 0 10px
}

#modal #message-panel .mess-box { margin: 26px 0 }

#modal #message-panel .mess-box .warning {
    background: url(/Assets/i/old/warning2.png) left top no-repeat;
    min-height: 38px;
    padding-left: 70px
}

#modal #message-panel .mess-box .info {
    background: url(/Assets/i/old/message-info.png) left no-repeat;
    line-height: 20px;
    min-height: 45px;
    padding-left: 70px
}

#modal #message-panel .mess-box .error {
    background: url(/Scripts/master/v/image/error-g.png) left top no-repeat;
    max-height: 200px;
    min-height: 38px;
    overflow-y: auto;
    padding-left: 70px;
    padding-right: 10px
}

#modal #message-panel .mess-box .error span, #modal #message-panel .mess-box .warning span, #modal #message-panel .mess-box .info span {
    display: table-cell;
    height: 38px;
    vertical-align: middle
}

#modal #message-panel .mess-box .error span b, #modal #message-panel .mess-box .warning span b {
    display: inline-block;
    word-break: break-all
}

#modal .btn {
    border: none;
    border-radius: 3px;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    min-height: 18px;
    min-width: 100px;
    padding: 7px 15px;
    text-align: center;
    text-decoration: underline
}

#modal .btn:hover { text-decoration: none }

#modal .btn-green {
    background: #1ac316;
    color: #fff;
    font-weight: 700;
    min-width: 130px;
    text-decoration: none
}

#modal .btn-green:nth-child(3) { margin-left: 25px }

#modal .btn-green:hover { background: #21D81D }

.test-certificate-icon {
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(/Assets/i/test-sertificate-icon.png) top center no-repeat;
    vertical-align: middle;
    position: absolute;
    left: -50px;
}
.test-certificate-icon.no-padding {
    margin-left: 0
}
.test-certificate-icon.float {
    position: absolute;
    left: 0;
    top: 6px;
    margin: 0;
}
.fake-test-certificate-icon {
    width: 13px;
    height: 13px;
    margin: 0 4px 0 -20px;
}
.fake-test-certificate-icon.no-padding {
    width: 13px;
    height: 30px;
    display: inline-block;
    float: left;
    margin-left: 0
}
.fake-test-certificate-icon.float {
    position: absolute;
    left: 0;
    top: 6px;
    margin: 0;
}
.test-certificate-icon:hover {
    background-position: bottom center ;
}