@using System.Web.Optimization

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_LayoutPassRecovery.cshtml";
}

@section scriptControl {
    @Scripts.Render("~/Assets/libjs/passRecovery.newPassword.js")
}

<div state1></div>
<div captcha></div>

<script type="text/javascript">
    $(function() {
        pr.token = '@ViewBag.Token';
    });
</script>