<div id="restore">
    <h1>
        Восстановление пароля
    </h1>
    <div class="box">
        <div class="restore-area">
            <div class="form">
                <div class="row restored">
                    На Ваш мобильный телефон выслан временный пароль.
                    <br />  После первой авторизации Вам будет необходимо
                    <br />  задать новый пароль.
                </div>
                <div class="row done">
                    <form method="GET" action="/Account/Login">
                        <input class="btn btn-blue" type="submit" value="Перейти к авторизации" />
                    </form>
                </div>
            </div>
        </div>
        <div class="row bottom text-right">
            <a href="#">
                Техническая поддержка
            </a>
        </div>
    </div>
</div>