<div class="cap"></div>
<div id="information_process">
    <div class="body">
        <div message>{{current}}</div>
    </div>
    <div class="progress">
        <div class="count">{{process_count_format countProcess}}</div>
        <div class="time">{{time}}</div>
        <div class="exit" can-click="exit">Отмена</div>
    </div>
</div>