a {
    color: #333;
    text-decoration: #000000
}

a:hover {
    color: #333;
    text-decoration: #000000
}

#mask {
    background-color: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9000;
}

#boxes .window {
    display: none;
    height: 130px;
    left: 50% !important;
    margin: -100px 0 0 -200px;
    padding: 20px;
    position: absolute;
    top: 50% !important;
    width: 440px;
    z-index: 9999;
}

#boxes #dialog {
    background-color: #ffffff;
    height: 130px;
    padding: 10px;
    position: fixed;
    width: 375px;
}

#boxes #dialogDelRecip, #dialogEditRecip, #dialogSignPin, #dialogDecrPin, #sendFileByte {
    background-color: #ffffff;
    height: 130px;
    padding: 10px;
    position: fixed;
    width: 375px;
}

#boxes #fileAnalyzing {
    background-color: #ffffff;
    height: 130px;
    padding: 10px;
    position: fixed;
    width: 375px;
}

#boxes #dialogRecip {
    background-color: #ffffff;
    height: 130px;
    padding: 10px;
    position: fixed;
    width: 375px;
}

#boxes #dialog1 {
    height: 130px;
    width: 375px;
}

#dialog1 .d-header {
    background: url(images/login-header.png) no-repeat 0 0 transparent;
    height: 130px;
    width: 375px;
}

#dialog1 .d-header input {
    border: 3px solid #cccccc;
    font-size: 15px;
    height: 22px;
    left: 100px;
    margin-top: 4px;
    padding: 5px;
    position: relative;
    top: 60px;
    width: 200px;
}

#dialog1 .d-blank {
    background: url(images/login-blank.png) no-repeat 0 0 transparent;
    float: left;
    height: 53px;
    width: 267px;
}

#dialog1 .d-login {
    float: left;
    height: 53px;
    width: 108px;
}

#boxes #dialog2 {
    background: url(images/notice.png) no-repeat 0 0 transparent;
    height: 229px;
    padding: 50px 0 20px 25px;
    width: 326px;
}