@{
    Layout = "~/Views/Shared/_LayoutCryptogramm.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Отображение результата работы KobilApi</title>
    </head>
    <body>
        <div>
            @(ViewBag.result)
        </div>
    </body>
</html>