@{
    Layout = "~/Views/Shared/_LayoutCryptogramm.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Авторизация</title>
    </head>
    <body>
        <div>
            Временно данный функционал был отключен. Приносим свои извинения за возможные неудобства.
        </div>
    </body>
</html>